/* scroll truyenthong pages*/

 header{
    background: linear-gradient(45deg, #a93c3c, #0e3879de);
    margin-top: -3.7px;
    margin-left: -192px;
    width: 100%;
    position: fixed;
    transition: all 0.5s ease-in-out;
    padding: 5px 0px;
}
header.sticky{
    background: #000;
    opacity: 0.95; 
    padding: 0px 0px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}
header.sticky ul#rootB li a {
    color: #000;
} 
/*end scroll truyen thong pages */